.mb-10 {
    margin-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

p, li {
    font-size: 16px;
}

ol, ul {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.profile-img {
    max-height: 320px;
    transition: none;
}

.title {
    color: #2B5686;
    font-weight: bold;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
}

.sub-title {
    color: #2D629C;
    font-weight: 500;
    margin-top: 10px;
    line-height: 1.5;
    font-size: 24px;
}

.badge-first {
    background-color: #e62e00;
    color: #fff;
}

.badge-second {
    background-color: #0000ff;
    color: #fff;
}

.badge-third {
    background-color: #595959;
    color: #fff;
}

.resume {
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 50px;
    word-wrap: break-word;
}

.resume .title-name {
    color: #000;
    font-weight: bold;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
}

.resume .information i, .resume .information p, .resume .information a {
    font-size: 20px;
    line-height: 1.0;
    margin: 0;
}

.resume .information .row {
    padding: 3px;
}

.resume .information .english {
    color: #000;
}

.resume .motto {
    font-weight: bold;
}

.resume .skill ul {
    padding-right: 0;
}

.resume .skill .row {
    margin-bottom: 10px;
}

.resume .tooltip-div .title {
    position: relative;
}

.resume .tooltip-div .tooltip-hover {
    position: absolute;
    right: -30px;
    top: 0;
    color: #000;
}

.resume .tooltip-div .tooltip-hover i {
    font-size: 20px;
}

.tooltip-inner {
    max-width: 220px;
    width: 220px;
}

.badges {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.resume .period {
    font-size: 24px;
    color: #808080;
}

.resume .info {
    color: #8c8c8c;
    font-size: 14px;
}

.resume .name {
    font-weight: bold;
}

.resume .name span {
    font-size: 18px;
    font-weight: 500;
}

.buttons {
    padding: 50px;
}

.buttons > div {
    padding-top: 15px;
}

.btn-first {
    color: #fff;
    background-color: #2B5686;
    border-color: #2B5686;
}

.btn-second {
    color: #fff;
    background-color: #4B87CB;
    border-color: #4B87CB;
}
.btn:hover {
    color: #fff;
    opacity: 0.9;
}

.footer {
    height: 100px;
    padding: 20px 30px;
    border-top: 1px solid #d4d4d4;
    background-color: #f4f4f4;
    color: #505050;
}

.footer .copyright {
    text-align: left;
    padding-top: 10px;
    font-size: 12px;
    float: left;
}

.footer .link-github {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    float: right;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-image: url(../img/git.png);
}

@media screen and (max-width: 992px) {
    .title, .sub-title {
        font-size: 25px;
    }

    .resume .tooltip-div .tooltip-hover i {
        font-size: 18px;
    }

    .profile-img {
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    .profile-img {
        margin-top: 0;
    }

    .resume .title-name {
        margin-top: 10px;
    }

    .title {
        text-align: center;
    }

    .sub-title, .tooltip-div, .period, .info, .name {
        text-align: center;
    }

    .resume .info i, p, li {
        font-size: 18px;
    }

    .info {
        margin-left: 10px;
        margin-right: 10px;
    }

    .resume .skill ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    .experience ul, .project ul {
        margin-left: 20px;
    }

    .experience .badges {
        margin: 0 10px;
    }
}